:root{
    --color-primary: rgb(168, 188, 248);
    --color-alternate: rgb(245, 233, 194);
    --color-cta: rgb(241, 180, 26);
    --color-white: rgb(255, 250, 250);
    --color-black: rgb(0, 0, 0);
}

html {
    box-sizing : border-box;
    scroll-behavior : smooth;
}
  
*, *::before, *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing : border-box;
}

#burger-haven{
    border-radius: 2em;
    box-shadow: 0 0 10px;
}

.nav-brand {
    max-width: 50px;
    max-height: 50px;
}

nav {
    box-shadow: 0 5px 10px;
}

nav a {
    margin-left: 2em;
}

.active {
    border-bottom: 3px solid var(--color-primary);
}

nav a:hover {
    border-bottom: 3px solid var(--color-cta);
}

header {
    margin-top: 5em;
}

.carousel .w-100 {
    max-height: 600px;
}

.bg-body {
    background: var(--color-alternate) !important;
    box-shadow: 0 0 10px;
}

.bg-dark {
    background: var(--color-alternate) !important;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 5em;
}

.align-center {
    text-align: center;
}

#menu {
    margin: 0;
}

.card-body ul li {
    list-style: none;
    font-weight: 600;
    font-size: 1.2em;
}

.card-body li {
    border-top: 1px solid;
    padding: 1em;
}

.wrapper form {
    margin: 0;
    border: 3px solid;
    border-radius: 1em;
    box-shadow: 0 0 10px;
    padding: 1em;
}